<% include ../partials/header %>

<div class="row analyze-text-result">
  <div class="col-lg-8 col-lg-offset-2 col-sm-12 analyze-result">
    <div class="col-lg-12 text-center">
      <img src="<%= imageUrl %>">
    </div>

    <div class="col-md-12 output">
      <h3>Text believed to be in image</h3>
        <p><%= lines %></p>

        <h3>Line by line</h3>
        <% separateLines.forEach(function(line) { %>
          <p class="center"><%= line %></p>
        <% }); %>
    </div>

  </div>
</div>

<% include ../partials/footer %>