<% include ./partials/header %>

  <div class="col-lg-12 indexmenu">
    <div class="btn-container">
      <a href="/api/analyze" class="btn btn-default">Computer Vision API</a>
      <a href="/api/search" class="btn btn-default">Movies DB</a>
      <a href="" class="btn btn-default">Something else...</a>
    </div>
  
  </div>

<% include ./partials/footer %>



